* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: black;

}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(img/top_bgi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    padding-top: 217px;
    color: #ffffff;
}

.header__title {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}