* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #000915;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(img/top_bgi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.header {
    max-width: 788px;
    color: #ffffff;
}

.header__title {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217px;
}

.header__text {
    max-width: 500px;
    padding-top: 32px;
    padding-bottom: 44px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}

.header__text_bold {
    font-weight: 700;
}

.header__button {
    width: 234px;
    height: 48px;
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.header__button:hover {
    background: #EB443F;
}

.games {
    padding-top: 128px;
    padding-bottom: 128px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
    gap: 32px;
}

.item {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    position: relative;
}

.item:hover {
    border: 3px solid #44D2FF;
}

.item-label {
    position: absolute;
    bottom: 32px;
    left: 32px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #FFF;
    font-family: Montserrat;
}

.games__item1 {
    background-image: url(img/item1.jpg);
}

.games__item2 {
    background-image: url(img/item2.jpg);
}

.games__item3 {
    background-image: url(img/item3.jpg);
}

.season__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 64px;
    padding-top: 233px;
    padding-bottom: 233px;
}

.header_season {
    width: 584px;
}

.text_season {
    max-width: inherit;
    padding-bottom: 32px;
}

.header__title_h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.season__img {
    width: 485px;
}

/*мобильные стили 375px*/

@media (max-width: 425px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 735px;
        background-image: url(img/top_bgi_mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .header {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }

    .header__title {
        text-align: center;

    }

    .header__text, .text_season {
        text-align: center;
        padding: 0;
        width: 343px;
    }

    .item {
        width: 343px;
    }

    .season__img {
        width: 344px;
    }
}

@media (min-width: 426px) and (max-width: 1239px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .season__img {
        width: 100%px;
    }
}

@media (max-width: 768px) {
    .header__title, .header__title_h2 {
        font-size: 32px;
    }

    .header__text, .text_season {
        max-width: 420px;
        font-size: 14px;
        line-height: 22px;
    }

    .season__container {
        padding-top: 51px;
        padding-bottom: 85px;
        
    }

}